#ourTherapist {
	text-align: left;
}

#therapist {
	background-color: cmyk(71%, 0%, 33%, 8%);
}

#contact-info {
	#25ABA4
}

#sidebar-wrapper {
	background-color: #999;
}

.sidebar-nav li a {
	color: #000;
}

.maps iframe{
	draggable: false;
	zoomControl: false;
	scrollwheel: false;
	disableDoubleClickZoom: true;
}
